/* Background */
#page {
    background-image: url("/andivarious.com/images/controller.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100%;
}
/* Navigation */
nav {
    font-family: 'Bigshot One', cursive;
}

/* Article */
article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 42%;
    background-color: #414454;
    font-family: 'Righteous', cursive;
}

article img {
    width: 50%;
    margin: 10px;
    box-shadow: 3px 5px 12px;
}